.content {
	border: 1px solid black;
	overflow: hidden;
	border-radius: 5px;
	width: 900px;
	height: 400px;
	margin: auto;
}

.editor {
	background-color: blue;
	display: inline-block;
	float: left;
	width: 50%;
	height: 100%;
}

.input-box {
	padding: 0px;
	border: none;
	margin: 5px;
	width: 440px;
	height: 390px;
}

.preview {
	background-color: white;
	display: inline-block;
	float: left;
	width: 50%;
	height: 100%;
}

.rendered-markdown {
	background-color: white;
	margin: 10px;
}